* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0F172A;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  background: rgba(255, 255, 255, 0.05);
  padding: 40px;
  width: 320px;
  border-radius: 14px;
  text-align: center;
  backdrop-filter: blur(12px);
  box-shadow: 0 0 30px rgba(45, 212, 191, 0.15);
}

h1 {
  color: #E5E7EB;
  font-size: 2.4rem;
}

h1 span {
  color: #2DD4BF;
}

.subtitle {
  color: #94A3B8;
  margin-bottom: 25px;
  font-size: 0.9rem;
}

label {
  color: #CBD5E1;
  display: block;
  text-align: left;
  margin-bottom: 6px;
  font-size: 0.85rem;
}

.phone-input {
  display: flex;
  background: #020617;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 15px;
}

.phone-input span {
  padding: 10px;
  color: #94A3B8;
  border-right: 1px solid #1E293B;
}

.phone-input input,
#otp {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  color: white;
  padding: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background: #2DD4BF;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #22c6b3;
}

.resend {
  margin-top: 12px;
  font-size: 0.8rem;
  color: #94A3B8;
}

.resend span {
  color: #2DD4BF;
  cursor: pointer;
}

.hidden {
  display: none;
}
